.globalHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    width: 100%;
    background-color: #fff;
}

.global-header__logo {
    min-width: 2rem;
}